<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6" ng-show="showParForm">
    <h1 class="text-center">Forgot your password?</h1>
    <p class="text-center">
      Enter your email address and we'll send you instructions to reset it.
      You can also use this to activate your account.
    </p>
    <form ng-submit="submitParForm()">
      <fieldset ng-disabled="disableParForm">
        <div class="form-group">
          <label for="parEmail">Email:</label>
          <input
            type="email"
            id="parEmail"
            class="form-control"
            ng-model="parEmail"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary center-block"
          ng-hide="disableParForm"
        >
          Submit
        </button>
        <img
          class="center-block"
          src="img/spinner.gif"
          ng-show="disableParForm"
        />
      </fieldset>
    </form>
  </div>

  <div class="col-md-6" ng-show="showNepForm">
    <h1 class="text-center">{{header}}</h1>
    <p>
      Please provide the following information and then you'll be able to log
      in to your account.
    </p>
    <form ng-submit="submitNepForm()">
      <fieldset ng-disabled="disableNepForm">
        <div class="form-group" ng-hide="fbid && !activated">
          <label for="password1">Select a password:</label>
          <input
            type="password"
            id="password1"
            class="form-control password"
            ng-model="nepPassword1"
          />
        </div>

        <div class="form-group" ng-hide="fbid && !activated">
          <label for="password2">Re-enter password:</label>
          <input
            type="password"
            id="password2"
            class="form-control password"
            ng-model="nepPassword2"
          />
        </div>

        <div class="form-group" ng-hide="fbid || activated">
          <label for="fname">First name:</label>
          <input
            type="text"
            id="fname"
            class="form-control name"
            ng-model="nepFname"
          />
        </div>

        <div class="form-group" ng-hide="fbid || activated">
          <label for="lname">Last name:</label>
          <input
            type="text"
            id="lname"
            class="form-control name"
            ng-model="nepLname"
          />
        </div>


        <button
          type="submit"
          class="btn btn-default center-block"
          ng-hide="disableNepForm"
        >
          Submit
        </button>

        <img
          class="center-block"
          src="img/spinner.gif"
          ng-show="disableNepForm"
        />
      </fieldset>
    </form>
  </div>

  <div class="col-md-6" ng-show="showCheckEmailMsg">
    <h3>
      Please check your email for instructions to reset your password.
    </h3>
  </div>

  <div class="col-md-6" ng-show="showBadKeyMsg">
    <h3>
      The link you clicked on is out of date. Please
      <a href="javascript:" ng-click="showPasswordRecover()">
        click here to reset your password.
      </a>
    </h3>
  </div>

  <div class="col-md-6" ng-show="showCompleteMsg">
    <h3 class="text-center">
      All set! You may
      <a href="javascript:" ng-click="showWelcome()">
        log in now
      </a>
      .
    </h3>
  </div>

  <div class="col-md-3"></div>
</div>
