<div class="row">
  <div class="col-xs-12">
    <h1>Site administration</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Challenges</h2>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Reg start</th>
        <th>Reg end</th>
        <th>Program start</th>
        <th>Program end</th>
        <th><!-- delete buttons --></th>
      </tr>
      
      <tr ng-repeat="challenge in challenges">
        <td style="vertical-align:middle">{{challenge.id}}</td>
        <td style="vertical-align:middle">{{challenge.regStart}}</td>
        <td style="vertical-align:middle">{{challenge.regEnd}}</td>
        <td style="vertical-align:middle">{{challenge.start}}</td>
        <td style="vertical-align:middle">{{challenge.end}}</td>
        <td>
          <button 
            type="button" 
            class="btn btn-danger"
            ng-click="deleteChallenge(challenge.challengeid)"
          >
            Delete
          </button>
        </td>
      </tr>
      
      <tr ng-hide="showNcForm">
        <td colspan="6">
          <button
            type="button"
            class="btn btn-success center-block"
            ng-click="showNcForm=true"
          >
            New Challenge
          </button>
        </td>
      </tr>
      
      <tr ng-show="showNcForm">
        <form role="form">
          <td><!-- ID column --></td>
          <td>
            <input
              type="text"
              class="form-control" 
              ng-model="ncRegStart" 
              placeholder="2015-02-01 08:00:00"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control" 
              ng-model="ncRegEnd" 
              placeholder="2015-04-01 17:00:00"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control" 
              ng-model="ncStart" 
              placeholder="2015-04-02 08:00:00"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control" 
              ng-model="ncEnd" 
              placeholder="2015-06-01 08:00:00"
            />
          </td>
          <td>
            <button ng-click="submitNcForm()" class="btn btn-primary">
              Add
            </button>
          </td>
        </form>
      </tr>
    </table>
  </div>
</div>