<div class="row">
  <div class="col-xs-12">
    <h1>Site administration</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Participants ({{participants.length}})</h2>
    <table class="table">
      <tr>
        <th>
          <strong>
            <a href="" ng-click="predicate='lname'; reverse=!reverse">
              Name
            </a>
          </strong>
        </th>
        <th>
          <strong>
            <a href="" ng-click="predicate='dateuseradded'; reverse=!reverse">
              Registered
            </a>
          </strong>
        </th>
        <th>
          <strong>
            <a href="" ng-click="predicate='teamname'; reverse=!reverse">
              Team
            </a>
          </strong>
        </th>
      </tr>
      <tr ng-repeat="p in participants | orderBy:predicate:reverse">
        <td>
          <strong>{{p.lname}}, {{p.fname}}</strong>
          <img ng-show="p.fbid" src="img/fb24.png" />
          <small style="color:gray">&nbsp;&nbsp;&nbsp; {{p.email}}</small>
        </td>
        <td>
          {{p.dateuseradded}}
        </td>
        <td>
          <a href="#/team/{{p.teamid}}">{{p.teamname}}</a>
        </td>
      </tr>
    </table>
  </div>
</div>