<div ng-show="showPickTeams">
  <div class="row" style="margin-bottom:2em">
    <div class="col-xs-6">
      <div ng-hide="hideCreateButton">
        <h2 class="text-center">Create a new team</h2>
        <button class="btn btn-primary btn-lg center-block" ng-click="createButton()">
          <span class="glyphicon glyphicon-flash"></span>
          Create
        </button>
      </div>
    </div>
    <div class="col-xs-6">
      <div ng-hide="hideJoinButton">
        <h2 class="text-center">Join an existing team</h2>
        <button class="btn btn-primary btn-lg center-block" ng-click="joinButton()">
          <span class="glyphicon glyphicon-search"></span>
          Join
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ng-show="showCreateForm">
        <form ng-submit="submitCreateForm()">
          <fieldset ng-disabled="disableCreateForm">

            <div class="form-group">
              <label for="teamName">Team name:</label>
              <input
                type="text"
                id="teamName"
                class="form-control"
                ng-model="createTeamName"
                maxlength="30"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary center-block"
              ng-hide="hideCreateSubmit"
            >
              Submit
            </button>

            <img
              class="center-block"
              src="img/spinner.gif"
              ng-show="showCreateSpinner"
            />

          </fieldset>
        </form>

        <div ng-show="showTeamCreated" class="alert alert-success">
          <p style="padding-bottom:1em">
            Your team has been created. Your team's Join Code is
            <strong>{{joinCode}}</strong>. (We have emailed this to you at
            {{userEmail}}.) Give your Join Code to your teammates
            so they can join your team. Good luck with the challenge!
          </p>
          <button class="btn btn-success btn-block" ng-click="getStarted()">
            Get started
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-show="showJoinForm">
        <form ng-submit="submitJoinForm()">
          <fieldset ng-disabled="disableJoinForm">

            <div class="form-group">
              <label for="joinCode">Team Join Code:</label>
              <input
                type="text"
                id="joinCode"
                class="form-control"
                ng-model="joinJoinCode"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary center-block"
              ng-hide="hideJoinSubmit"
            >
              Submit
            </button>

            <img
              class="center-block"
              src="img/spinner.gif"
              ng-show="showJoinSpinner"
            />

          </fieldset>
        </form>

        <div ng-show="showTeamJoined" class="alert alert-success">
          <p style="padding-bottom:1em">
            You have joined the team <strong>{{teamName}}</strong>. Good luck
            with the challenge!
          </p>
          <button class="btn btn-success btn-block" ng-click="getStarted()">
            Get started
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<h3 class="text-center" ng-show="showWaitMsg">
  Thanks for registering. Be Healthy Now starts on April 11. Check back then!
</h3>

<h3 class="text-center" ng-show="showClosedMsg">
  Registration is closed for this year. Try again next year!
</h3>

<div class="row" ng-show="showGoal">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="text-center">Please set a goal</h1>
    <form ng-submit="submitGoalForm()">
      <div class="form-group">
        <div>
          <label style="font-weight: normal">
            <input type="radio" ng-model="goalRadio" name="x" value="950" required />
            <strong>PLATINUM</strong>:
            950 Total Points, 95 points per week. This is equal to approximately 
            <ul>
              <li>30 minutes of exercise, five times a week;</li>
              <li>eating five or more servings or fruits and vegetables five times a week, and</li>
              <li>2-3 bonus points per day.</li>
            </ul>
          </label>
        </div>
        <div>
          <label style="font-weight: normal">
            <input type="radio" ng-model="goalRadio" name="x" value="650" required />
            <strong>GOLD</strong>:
            650 Total Points, 65 points per week. This is equal to approximately
            <ul>
              <li>30 minutes of exercise, three times a week;</li>
              <li>eating five or more servings or fruits and vegetables three times a week, and</li> 
              <li>2-3 bonus points per day.</li>
            </ul>
          </label>
        </div>
        <div>
          <label style="font-weight: normal">
            <input type="radio" ng-model="goalRadio" name="x" value="400" required />
            <strong>SILVER</strong>:
            400 Total Points, 40 points per week. This is equal to approximately
            <ul>
              <li>30 minutes of exercise, two times a week;</li> 
              <li>eating five or more servings or fruits and vegetables two times a week, and</li>
              <li>1-2 bonus points per day.</li>
          </label>
        </div>
      </div>
      <div class="form-group">
        <p>Enter your initials below to accept our legal disclaimer.</p>
        <p>
          "As a participant in the Be Healthy Now program, I recognize and 
          acknowledge that there are risks of physical injury which could occur 
          from my participation in the program. I fully understand the nature 
          and extent of these risks. For and in consideration of my being 
          permitted to participate in this program, I agree to assume full risk 
          of any injury, damage, or loss which I may sustain as a result of 
          participation in this program and any activities in connection with 
          the program. I hereby agree to waive and relinquish all claims, which 
          I have, or may have, against Cone Health, its officers, agents, 
          servants, program partners and employees as a result of my 
          participation in this program. In case I am injured or become ill, I 
          consent to emergency medical care being provided to me. I have 
          carefully read this waiver and I fully understand all parts of it."
        </p>
        <p>
          (In the case that a participant is under the age of 18, this waiver 
          must be acknowledged by a legal guardian.)
        </p>
        <p>
          <strong>Initial here: </strong>
          <input type="text" ng-model="initials" required />
        </p>
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Submit
      </button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

<div ng-show="showDashboard">
  <div class="row">
    <div class="col-xs-12">
      <button
        type="button" 
        class="btn btn-link btn-lg"
        ng-click="showTeamButton()"
      >
        <span class="glyphicon glyphicon-th-list"></span> Your team: {{teamName}}
      </button>
    </div>
  </div>
  <div class="row">
    <fieldset ng-disabled="disableAllButtons">
      <div class="col-md-6">
        <h3 class="text-center">Click to log your activity</h3>
        <div ng-repeat="a in activities" style="margin-top:1em">
          <button
            type="button"
            class="btn {{btnColor(a.pointvalue)}} btn-lg btn-block"
            ng-click="submitActivity(a.activityid)"
          >
            {{a.shortdesc}}
          </button>
          <strong>
            {{a.pointvalue}} point{{a.pointvalue == 1 ? "" : "s"}}.
          </strong>
          {{a.longdesc}}
          <a ng-show="a.url" href="{{a.url}}" target="_blank">More info</a>
        </div>
      </div>
      <div class="col-md-6" ng-show="reports.length">
        <h3 class="text-center">Your activity log</h3>
        <table class="table" style="margin-top:1em">
          <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Points</th>
            <th><!-- delete buttons --></th>
          </tr>
          <tr ng-repeat="report in reports | orderBy:'-reportdttm'">
            <td>{{dateFormat(report.reportdttm)}}</td>
            <td>{{report.shortdesc}}</td>
            <td>{{report.pointvalue}}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-xs"
                ng-click="deleteReport(report.reportid)"
              >
                <span class="glyphicon glyphicon-remove"></span>
                Delete
              </button>
            </td>
          </tr>
        </table>
      </div><!-- col-md-6 -->
    </fieldset>
  </div><!-- 2nd row -->
</div><!-- ng-show showDashboard -->