<div ng-show="showPickTeams">
  <div class="row" style="margin-bottom:2em">
    <div class="col-xs-6">
      <div ng-hide="hideCreateButton">
        <h2 class="text-center">Create a new team</h2>
        <button class="btn btn-primary btn-lg center-block" ng-click="createButton()">
          <span class="glyphicon glyphicon-flash"></span>
          Create
        </button>
      </div>
    </div>
    <div class="col-xs-6">
      <div ng-hide="hideJoinButton">
        <h2 class="text-center">Join an existing team</h2>
        <button class="btn btn-primary btn-lg center-block" ng-click="joinButton()">
          <span class="glyphicon glyphicon-search"></span>
          Join
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ng-show="showCreateForm">
        <form ng-submit="submitCreateForm()">
          <fieldset ng-disabled="disableCreateForm">

            <div class="form-group">
              <label for="teamName">Team name:</label>
              <input
                type="text"
                id="teamName"
                class="form-control"
                ng-model="createTeamName"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary center-block"
              ng-hide="hideCreateSubmit"
            >
              Submit
            </button>

            <img
              class="center-block"
              src="img/spinner.gif"
              ng-show="showCreateSpinner"
            />

          </fieldset>
        </form>

        <div ng-show="showTeamCreated" class="alert alert-success">
          <p style="padding-bottom:1em">
            Your team has been created. Your team's Join Code is
            <strong>{{joinCode}}</strong>. (We have emailed this to you at
            {{userEmail}}.) Give your Join Code to your teammates
            so they can join your team. Good luck with the challenge!
          </p>
          <button class="btn btn-success btn-block" ng-click="getStarted()">
            Get started
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-show="showJoinForm">
        <form ng-submit="submitJoinForm()">
          <fieldset ng-disabled="disableJoinForm">

            <div class="form-group">
              <label for="joinCode">Team Join Code:</label>
              <input
                type="text"
                id="joinCode"
                class="form-control"
                ng-model="joinJoinCode"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary center-block"
              ng-hide="hideJoinSubmit"
            >
              Submit
            </button>

            <img
              class="center-block"
              src="img/spinner.gif"
              ng-show="showJoinSpinner"
            />

          </fieldset>
        </form>

        <div ng-show="showTeamJoined" class="alert alert-success">
          <p style="padding-bottom:1em">
            You have joined the team <strong>{{teamName}}</strong>. Good luck
            with the challenge!
          </p>
          <button class="btn btn-success btn-block" ng-click="getStarted()">
            Get started
            <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<h3 class="text-center" ng-show="showWaitMsg">
  Thanks for registering. Be Healthy Now starts on April 11. Check back then!
</h3>

<h3 class="text-center" ng-show="showClosedMsg">
  Registration is closed for this year. Try again next year!
</h3>

<div ng-show="showDashboard">
  <div class="row">
    <div class="col-xs-12">
      <button
        type="button" 
        class="btn btn-link btn-lg"
        ng-click="showTeamButton()"
      >
        <span class="glyphicon glyphicon-hand-left"></span> Your team: {{teamName}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Click to log your activity</h3>
      <div ng-repeat="a in activities" style="margin-top:1em">
        <button
          type="button"
          class="btn {{btnColor(a.pointvalue)}} btn-lg btn-block"
          ng-click="submitActivity(a.activityid)"
        >
          {{a.shortdesc}}
        </button>
        <strong>
          {{a.pointvalue}} point{{a.pointvalue == 1 ? "" : "s"}}.
        </strong>
        {{a.longdesc}}
        <a ng-show="a.url" href="{{a.url}}" target="_blank">More info</a>
      </div>
    </div>
    <div class="col-md-6" ng-show="reports.length">
      <h3 class="text-center">Your activity log</h3>
      <table class="table" style="margin-top:1em">
        <tr>
          <th>Date</th>
          <th>Activity</th>
          <th>Points</th>
          <th><!-- delete buttons --></th>
        </tr>
        <tr ng-repeat="report in reports | orderBy:'-reportdttm'">
          <td>{{dateFormat(report.reportdttm)}}</td>
          <td>{{report.shortdesc}}</td>
          <td>{{report.pointvalue}}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              ng-click="deleteReport(report.reportid)"
            >
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div><!-- col-md-6 -->
  </div><!-- 2nd row -->
</div><!-- ng-show showDashboard -->

<div class="row" ng-show="showTeam">
  <!-- TODO make this its own partial -->
  team goes here
</div>

