<div class="row">
  <div class="col-xs-12">
    <button
      type="button"
      class="btn btn-link btn-lg"
      ng-click="showTeamButton()"
    >
      <span class="glyphicon glyphicon-th-list"></span> Your team: {{teamName}}
    </button>
  </div>
</div>
<div class="row">
  <fieldset ng-disabled="disableAllButtons">
    <div class="col-sm-5">
      <h3 class="text-center">Click to log your activity</h3>
      <div ng-repeat="a in activities" style="margin-top:1em">
        <button
          type="button"
          class="btn {{btnColor(a.pointvalue)}} btn-lg btn-block"
          ng-click="submitActivity(a.activityid)"
        >
          <span ng-show="a.bootstrapicon"
                class="glyphicon glyphicon-{{a.bootstrapicon}} pull-left"
                style="padding-right: 0.3em">
          </span>
          <i ng-show="a.googleicon"
             class="material-icons md-18 pull-left">
            {{a.googleicon}}
          </i>
          {{a.shortdesc}}
        </button>
        <strong>
          {{a.pointvalue}} point{{a.pointvalue == 1 ? "" : "s"}}.
        </strong>
        {{a.longdesc}}
        <a ng-show="a.url" href="{{a.url}}" target="_blank">
          More info
          <span class="glyphicon glyphicon-new-window"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-7" ng-show="reports.length">
      <h3 class="text-center">Your activity log</h3>
      <table class="table" style="margin-top:1em">
        <tr>
          <th>Date</th>
          <th>Activity</th>
          <th>Points</th>
          <th><!-- delete buttons --></th>
        </tr>
        <tr ng-repeat="report in reports | orderBy:'-reportdttm'">
          <td>{{dateFormat(report.reportdttm)}}</td>
          <td>{{report.shortdesc}}</td>
          <td>{{report.pointvalue}}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              ng-click="deleteReport(report.reportid)"
            >
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div><!-- col-md-6 -->
  </fieldset>
</div><!-- 2nd row -->