<div class="row" style="margin-bottom:2em">
  <div class="col-xs-6">
    <div ng-hide="hideCreateButton">
      <h2 class="text-center">Create a new team</h2>
      <button class="btn btn-primary btn-lg center-block"
              ng-click="show = 'create'">
        <span class="glyphicon glyphicon-flash"></span>
        Create
      </button>
    </div>
  </div>
  <div class="col-xs-6">
    <div ng-hide="hideJoinButton || teams.length === 0">
      <h2 class="text-center">Join an existing team</h2>
      <button class="btn btn-primary btn-lg center-block"
              ng-click="show = 'join'">
        <span class="glyphicon glyphicon-search"></span>
        Join
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div ng-show="show === 'create'">
      <form ng-submit="submitCreateForm()">
        <fieldset ng-disabled="disableCreateForm">

          <div class="form-group">
            <label for="teamName">Team name:</label>
            <input
              type="text"
              id="teamName"
              class="form-control"
              ng-model="createTeamName"
              maxlength="30"
              required
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary center-block"
            ng-hide="hideCreateSubmit"
          >
            Submit
          </button>

          <img
            class="center-block"
            src="img/spinner.gif"
            ng-show="showCreateSpinner"
          />

        </fieldset>
      </form>

      <div ng-show="showTeamCreated" class="alert alert-success">
        <p style="padding-bottom:1em">
          Success! Your team has been created. Tell your friends to go to
          https://behealthynowalamance.com/points to register and join your
          team. Good luck with the challenge!
        </p>
        <p style="padding-bottom:1em">
          Before you can get started logging points, there's a suvey you need
          to take.
        </p>
        <button class="btn btn-success btn-block" ng-click="getStarted()">
          Take survey
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div ng-show="show === 'join'">
      <form ng-submit="submitJoinForm()">
        <fieldset ng-disabled="disableJoinForm">
          <div class="form-group">
            <label for="teamToJoin">Select a team:</label>
            <select class="form-control" ng-model="teamToJoin" name="teamToJoin">
              <option ng-repeat="t in teams" value="{{t.teamid}}">
                {{t.teamname}} ({{t.fname}} {{t.linitial}}.)
              </option>
            </select>
          </div>

          <button
            type="submit"
            class="btn btn-primary center-block"
            ng-hide="hideJoinSubmit"
          >
            Submit
          </button>

          <img
            class="center-block"
            src="img/spinner.gif"
            ng-show="showJoinSpinner"
          />

        </fieldset>
      </form>

      <div ng-show="showTeamJoined" class="alert alert-success">
        <p style="padding-bottom:1em">
          Success! You have joined a team. Good luck with the challenge!
        </p>
        <p style="padding-bottom:1em">
          Before you can get started logging points, there's a suvey you need
          to take.
        </p>
        <button class="btn btn-success btn-block" ng-click="getStarted()">
          Take survey
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>