<div class="row">
  <div class="col-xs-12">
    <button
      type="button"
      class="btn btn-link btn-lg"
      ng-click="showDashboard()"
    >
      <span class="glyphicon glyphicon-pencil"></span> Log your points
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">{{teamName}}</h1>
  </div>
</div>

<table class="table">
  <tr>
    <th>
      Name
    </th>
    <th ng-repeat="i in getNumber(numWeeks) track by $index">
      wk{{$index + 1}}
    </th>
    <th>
      Total
    </th>
    <th>
      Goal
    </th>
  </tr>
  <tr ng-repeat="tm in teamMembers | orderBy: 'lname'">
    <td>
      {{tm.fname}} {{tm.lname}}
    </td>
    <td ng-repeat="pw in tm.pointWeeks track by $index| orderBy: '$index'">
      {{pw}}
    </td>
    <td>
      {{tm.total}}
    </td>
    <td>
      {{tm.goal}}
    </td>
  </tr>
  <tr>
    <td style="border-top:2px solid #999">
      <strong>Totals</strong>
    </td>
    <td
      style="border-top:2px solid #999"
      ng-repeat="tpw in totals.pointWeeks track by $index| orderBy: '$index'"
    >
      {{tpw}}
    </td>
    <td style="border-top:2px solid #999">
      {{totals.total}}
    </td>
    <td style="border-top:2px solid #999">
      {{totals.goal}}
    </td>
  </tr>
</table>
