<div class="row">  
  <div class="col-md-7" id="welcome">
    <h1 class="text-center">Welcome to <strong>Be Healthy Now</strong></h1>

    <img
      class="center-block img-responsive img-rounded" 
      src="img/WINNERS.png" 
    />

    <p>
      <strong>Be Healthy Now</strong>, Alamance County's free 10-week fitness program, is making changes for the better so that YOU can also take steps to imrove your health and wellness. Take a look at just a few of the exciting changes:
    </p>

    <ul>
      <li>Improved and easier-to-use points system</li>
      <li>Earn points for eating fruits and veggies</li>
      <li>Yoga in the park one afternoon a week</li>
      <li>Free passes to several participating gyms</li>
      <li>Nutrition and cooking classes for the whole family</li>
      <li>"Try Something New" Mondays (kayaking, karate, line dancing, etc.)</li>
    </ul>

    <h2 class="text-center">What is <strong>Be Healthy Now</strong>?</h2>

    <img
      class="center-block img-responsive img-rounded" 
      src="img/GROUP_WALKING.jpg" 
    />

    <p>
      A 10-week Wellness Challenge to encourage Alamance County residents of ALL ages to exercise, eat well and enjoy healthy lives. Every <strong>Be Healthy Now</strong> activity -- whether a relaxing group hike, an energizing fitness class, or a tasty cooking demonstration -- is <strong>completely free of charge</strong> to registered Challengers. Plus - our sponsors and partners offer discounts on healthy products and services to <strong>Be Healthy Now</strong> Challengers.
    </p>

    <p>
      You can form your own <strong>Be Healthy Now</strong> team -- with as few as 2 and as many as 10 members -  from among your friends, family, co-workers,  faith groups, and classmates. <strong>Be Healthy Now</strong> team members support each other to achieve their goals.
    </p>

    <p>
      The Challenge kicks-off April 11 and continues through June 19th. Register your team no later than April 11th.
    </p>

    <p>
      Challengers update their progress on-line as they work towards their individual and team goals. At the end of the competition, the teams that complete their goals will be entered into a drawing for four CASH prizes of $250 each!
    </p>

    <p>
      Have questions? Call the Alamance Regional Live Well Line at 336-586-4000 for more information.
    </p>

    <p>
      <a href="sponsorships.html">SPONSORSHIPS AND DISCOUNTS</a>
    </p>

    <p>
      <a href="blog.html">CALENDAR AND BLOG</a>
    </p>

    <h2 class="text-center">Register yourself and your team</h2>

    <img
      class="center-block img-responsive img-rounded" 
      src="img/GROUP_ETHNICITY1.jpg" 
    />

    <ol>
      <li>
        Gather your team -- as few as 2 and as many as 10 members per team. Choose a name for your team.  (Some of our favorites from 2014 were <em>#SkinnyJeans</em> and  <em>Mission ThinPossible</em>.)
      </li>

      <li>
        Choose a team captain -- this person will register first.
      </li>

      <li>
        The captain will be emailed a team code; then just forward the email to each of your team members. They'll click and register right from the email, whether on a PC, tablet, phone or other mobile device. You're Challengers now!
      </li>
    </ol>

    <p>
      <a href="http://www.facebook.com/groups/behealthynowalamance/">Join our group on Facebook</a> to earn extra points for your team and connect with other Challengers.
    </p>

    <p>
      The last day to register is  Saturday, April 11, 2015.
    </p>

    <p>
      Have questions? Call the Alamance Regional LiveWell Line 336-586-4000 for more information.
    </p>

    <p>
      <strong>Registration begins February 23. The competition kicks-off April 11th and continues through June 19th.</strong>
    </p>

  </div>

  <div class="col-md-5">
    <div class="panel panel-default" style="margin-top: 20px;">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Join Now</h3>
      </div>
      <form 
        class="panel-body"
        role="form" 
        ng-submit="submitRegisterForm()" 
      >
        <fieldset ng-disabled="disableRegForm">
          <div class="form-group">
            <label ng-hide="phSup" for="email">Email address:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter email address"
              ng-model="regEmail"
              required
            />
          </div>
          <div
            id="drecaptcha" 
            class="text-center" 
            style="margin-bottom: 1em"
          ></div>
          <button
            type="submit" 
            class="btn btn-primary center-block"
            ng-hide="disableRegForm"
          >
            Submit
          </button>
          <img
            src="img/spinner.gif"
            class="center-block"
            ng-show="disableRegForm"
            style="padding-top:7px; padding-bottom:7px"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script
  src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async 
  defer
></script>
<script> // "
  var onloadCallback = function() {
    grecaptcha.render('drecaptcha', {
      'sitekey' : '6Lcmbf8SAAAAAHuWfDgbj0jYTpVI-kqPt-9oPkh4'
    });
    
    // This is such a terrible way to do this
    setInterval(function() {
      $("#drecaptcha > div > div").css("width", "");
    }, 1000);
  };
</script>
