<h3 class="text-center">
  To earn points, you must be a registered user.
</h3>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">Need to register?</h2>
    <div ng-init="regBox = 'buttons'" ng-show="regBox === 'buttons'">
      <button
        type="button"
        class="btn btn-primary btn-block btn-lg"
        style="background-color:#3b5998"
        ng-click="regBox = 'regForm'; regMethod = 'facebook';"
      >
        <img
          src="img/fb.png"
          style="max-height:33px"
        />
        Register with Facebook
      </button>
      <p class="text-center" style="margin:14px 0px">or</p>
      <button
        type="button"
        class="btn btn-default btn-block btn-lg"
        ng-click="regBox = 'regForm'; regMethod = 'email';"
      >
        Register using email
      </button>
    </div>

    <form
      role="form"
      ng-submit="submitRegisterForm()"
      ng-show="regBox === 'regForm'"
    >
      <fieldset ng-disabled="disableRegForm">
        <div class="form-group">
          <label ng-hide="phSup" for="email">Email address:</label>
          <input
            ng-if="regMethod === 'email'"
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email address"
            ng-model="$parent.regEmail"
            required
          />
        </div>

        <p>Enter your initials below to accept our legal disclaimer.</p>
        <p>
          "As a participant in the Be Healthy Now program, I recognize and
          acknowledge that there are risks of physical injury which could occur
          from my participation in the program. I fully understand the nature
          and extent of these risks. For and in consideration of my being
          permitted to participate in this program, I agree to assume full risk
          of any injury, damage, or loss which I may sustain as a result of
          participation in this program and any activities in connection with
          the program. I hereby agree to waive and relinquish all claims, which
          I have, or may have, against Cone Health, its officers, agents,
          servants, program partners and employees as a result of my
          participation in this program. In case I am injured or become ill, I
          consent to emergency medical care being provided to me. I have
          carefully read this waiver and I fully understand all parts of it."
        </p>
        <p>
          (In the case that a participant is under the age of 18, this waiver
          must be acknowledged by a legal guardian.)
        </p>
        <p class="text-center">
          <strong>Initial here: </strong>
          <input type="text" ng-model="initials" required />
        </p>

        <div
          ng-show="regMethod === 'email'"
          id="drecaptcha"
          class="text-center"
          style="margin-bottom: 1em"
        ></div>
        <button
          type="submit"
          class="btn btn-primary center-block"
          ng-hide="disableRegForm"
        >
          Submit
        </button>
        <img
          src="img/spinner.gif"
          class="center-block"
          ng-show="disableRegForm"
          style="padding-top:7px; padding-bottom:7px"
        />
      </fieldset>
    </form>
  </div>

  <div class="col-md-6">
    <h2 class="text-center">Already registered?</h2>
    <div ng-hide="showLoginForm">
      <a
        href="fb_init.php"
        class="btn btn-primary btn-block btn-lg"
        style="background-color:#3b5998"
      >
        <img
          src="img/fb.png"
          style="max-height:33px"
        />
        Login with Facebook
      </a>
      <p class="text-center" style="margin:14px 0px">or</p>
      <button
        type="button"
        class="btn btn-default btn-block btn-lg"
        ng-click="showLoginForm=true"
      >
        Login using email and password
      </button>
    </div>

    <form
      role="form"
      ng-submit="submitLoginForm(loginEmail, loginPassword)"
      ng-show="showLoginForm"
    >
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="loginEmail"
          ng-model="loginEmail"
          placeholder="Email"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="loginPassword"
          ng-model="loginPassword"
          placeholder="Password"
          required
        />
      </div>

      <div style="clear:both">
        <button
          type="submit"
          class="btn btn-default"
          style="float:left; margin-bottom: 0.4em"
        >
          Log In
        </button>

        <a
          href="javascript:"
          ng-click="showPasswordRecover()"
          class="text-center"
          style="float:left; margin: 0.5em 1em"
        >help</a>

        <a
          href="fb_init.php"
          class="btn btn-primary btn-sm"
          style="background-color:#3b5998; float:right"
        >
          <img src="img/fb.png" style="max-height:15px" />
          Login with Facebook
        </a>

      </div>
    </form>
  </div>
</div>
<script
  src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async
  defer
></script>
<script> // "
  var onloadCallback = function() {
    grecaptcha.render('drecaptcha', {
      'sitekey' : '6Lcmbf8SAAAAAHuWfDgbj0jYTpVI-kqPt-9oPkh4'
    });

    // This is such a terrible way to do this
    setInterval(function() {
      $("#drecaptcha > div > div").css("width", "");
    }, 1000);
  };
</script>
