<!DOCTYPE html>
<html lang="en" ng-app="orange">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta 
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    >
    <title ng-bind="projectname"></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .navbar {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body ng-controller="IndexCtrl">
    <div class="modal fade" id="ErrorModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
              <span 
                style="color: red" 
                class="glyphicon glyphicon-exclamation-sign"
              ></span>
              An error occurred.
            </h4>
          </div>
          
          <div class="modal-body" ng-show="showNonActivateError">
            <p>
              Your account has not been activated. Please follow the 
              instructions in the email that was sent to you. If you do not 
              have the email, please
              <a href="javascript:" ng-click="showPasswordRecover()">
                click here to have it re-sent.
              </a>
            </p>
          </div>
          
          <div class="modal-body" ng-show="showWrongPasswordError">
            <p>
              Incorrect password. Please try again.
            </p>
          </div>
          
          <div class="modal-body" ng-show="showUserNotFoundError">
            <p>
              The email address you entered was not found.
            </p>
          </div>
          
          <div class="modal-body" ng-show="showEmailAlreadyError">
            <p>
              There is already an account with that email address. Please log 
              in or 
              <a href="javascript:" ng-click="showPasswordRecover()">
                click here if you have forgotten your password.
              </a>
            </p>
          </div>
          
          <div class="modal-body" ng-show="showRecaptchaError">
            <p>
              Recaptcha thinks you are a robot. Please try again.
            </p>
          </div>
          
          <div class="modal-body" ng-show="showPassword8Error">
            <p>
              Your password must be at least 8 characters.
            </p>
          </div>
          
          <div class="modal-body" ng-show="showPasswordMatchError">
            <p>
              Your password entries do not match.
            </p>
          </div>
          
          <div class="modal-body" ng-show="showUnknownError">
            <p>
              An error occurred. Please try again.
            </p>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  

    <div class="container">

      <nav
        class="navbar navbar-default"
        role="navigation"
      >
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#/welcome" class="navbar-brand" ng-bind="projectname">
            </a>
          </div>
          <div>
            <ul class="nav navbar-nav navbar-right" ng-hide="hideLoginForm">
              <li>
                <form class="navbar-form" role="form" ng-submit="submitLoginForm()">
                  <div class="form-group">
                    <input
                      type="text" 
                      class="form-control" 
                      name="loginEmail" 
                      ng-model="loginEmail"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input 
                      type="password" 
                      class="form-control" 
                      name="loginPassword" 
                      ng-model="loginPassword"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <button type="submit" class="btn btn-default">Log In</button>
                </form>
              </li>
              <li>
                <a href="javascript:" ng-click="showPasswordRecover()">help</a>
              </li>
            </ul>
            <p class="nav navbar-text navbar-right" ng-show="showUserName">
              Logged in as {{loggedInFname}} {{loggedInLname}}
              <small><a href="#" ng-click="logout()">logout</a></small>
            </p>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div ng-view></div>

    </div><!-- /.container -->


    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
    ></script>
    <script 
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"
    ></script>
    <script
      src="app.js"
    ></script>
  </body>
</html>
